@font-face {
  font-family: 'Quicksand_Medium', sans-serif;
  src: url('../fonts/Quicksand/static/Quicksand_medium.woff2') format('woff2');
  src: url('../fonts/Quicksand/static/Quicksand_medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand_Regular', sans-serif;
  src: url('../fonts/Quicksand/Roboto/Roboto-Bold.woff2') format('woff2');
  src: url('../fonts/Quicksand/Roboto/Roboto-Bold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Roboto_Medium', sans-serif;
  src: url('../fonts/Quicksand/Roboto/Roboto-Medium.woff2') format('woff2');
  src: url('../fonts/Quicksand/Roboto/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto_Regular', sans-serif;
  src: url('../fonts/Quicksand/Roboto/Roboto-Regular.woff2') format('woff2');
  src: url('../fonts/Quicksand/Roboto/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto_Bold', sans-serif;
  src: url('../fonts/Quicksand/Roboto/Roboto-Bold.woff2') format('woff2');
  src: url('../fonts/Quicksand/Roboto/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}